html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E1E1E1;
  color: #000;
}